<h2><%= question_header(@question) %></h2>

<%= form_with model: [@test, @question], local: true do |form| %>

  <%= render "shared/errors", object: @question %>

  <p>
    <%= form.label :body %><br>
    <%= form.text_field :body, id: :question_body%>
  </p>

  <p> <%= form.submit %> </p>

<% end %>