<% provide(:title, "Question #{@question.id}") %>

<h1> <%= @question.test.title %></h1>

<p>
  <strong>Id:</strong>
  <%= @question.id %>
</p>


<p>
  <strong>Body:</strong>
  <%= @question.body %>
</p>

<%= link_to "Edit", edit_question_path %>
<%= link_to "Back", tests_path %>

<h2> Answers </h2>

<%= link_to "New Answer", new_question_answer_path(@question) %>

<ol>
  <%= render @question.answers  %>
</ol>
