<h1 class="display-3"> <%= t('.header') %> </h1>

<p>
  <%= link_to t('shared.links.new_badge'), new_admin_badge_path, class: "btn btn-primary btn-lg" %>
</p>

<%= render 'shared/errors', object: @test %>

<table class="table table-hover">
  <tbody>
  <tr class="table-primary">
    <th scope="col" class="text-center"> <%= t('.title') %> </th>
    <th scope="col" class="text-center"> <%= t('.image_url') %> </th>
    <th scope="col" class="text-center"> <%= t('.rule') %> </th>
    <th scope="col" class="text-center"> <%= t('.parameter') %> </th>
    <th colspan="3" scope="col" class="text-center"><%=t('.actions') %></th>
  </tr>

  <%= render @badges %>
  <tbody>
</table>
