<div class="nav nav-admin">
  <span class="nav-admin title"><%= t('.header') %></span>

  <div class="nav-admin user">
    <%= link_to t('shared.links.main'), admin_tests_path %> |
     <%= t('shared.message.welcome') %><b class="nav-admin user-email"><%= current_user.email %></b> Guru |
    <%= link_to t('shared.links.logout'), destroy_user_session_path, method: :delete %>

  </div>


  <div class="nav-admin user">
  </div>
</div>