<div class="container">

  <ul class="nav justify-content-end mt-3">
    <li class="nav-item">
      <%= link_to t('shared.links.main'), admin_tests_path, class: 'nav-link active' %>
    </li>
    <li class="nav-item">
      <%= link_to t('shared.nav.header'), root_path, class: 'nav-link active' %>
    </li>
    <li class="nav-item">
      <a class="nav-link active>"> <%= t('shared.message.welcome') %><%= current_user.email %> Guru </a>
    </li>
    <li>
      <%= link_to t('shared.links.logout'), destroy_user_session_path, method: :delete, class: 'nav-link active' %>
    </li>
  </ul>
</div>

