<br>
<hr>
<footer class="footer">
  <small> <%= link_to "Test Guru - Учебный проект в онлайн-школе Thinknetica",
                      "https://thinknetica.com/"%>

    <p>
     <%= t('.author') %> <%= github_url("Alex808r", "TestGuru" ) %>

      <%= t('.year') %> <%= current_year %>
    </p>
  </small>
</footer>

