<div class="nav nav-user">
  <span class="nav-user title"><%= t('.header') %></span>

  <div class="nav-user user">
    <%= link_to "Test Guru", root_path %>
      <% if user_signed_in? %>
        Welcome, <b> <%= current_user.name %> </b> Guru
        <%= link_to t('shared.links.logout'), destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to t('shared.links.signup'), new_user_registration_path %>
        <%= link_to t('shared.links.login'), user_session_path %>
      <% end %>
    </div>

</div>
