<div class="container">
  <ul class="nav justify-content-end mt-3">
    <% if current_user&.admin? %>
      <li class="nav-item ">

      <%= link_to  t('admin.nav.header'), admin_tests_path, class: 'nav-link active' %>
    <% end %>
    </li>

    <% if user_signed_in? %>
      <li class="nav-item">
        <%= link_to t('.header'), root_path, class: 'nav-link active' %>
      </li>

      <li class="nav-item ">
      <a class="nav-link active">
        Welcome, <b> <%= current_user.name %> </b> Guru
      </a>
     </li>
    <li class="nav-item">
      <%= link_to t('shared.links.logout'), destroy_user_session_path, method: :delete, class: 'nav-link active' %>
    </li>
    <% else %>
    <li class="nav-item">
      <%= link_to t('shared.links.signup'), new_user_registration_path, class: 'nav-link active' %>
    </li>
    <li class="nav-item">
      <%= link_to t('shared.links.login'), user_session_path, class: 'nav-link active' %>
     <% end %>
    </li>
</ul>
</div>