<% provide(:title, "Edit Answer") %>

<h1><%= t('.edit') %></h1>

<p>
  <%= @answer.question.body %>
</p>

<%= render 'form' %>

<%= link_to 'Show', admin_answer_path(@answer) %> |
<%= link_to 'Back', admin_question_path(@answer.question) %>
