<% provide(:title, 'Tests') %>

<h1 class="display-4"> <%= t('.header') %> </h1>

<p>
  <%= link_to t('shared.links.new_test'), new_admin_test_path, class: "btn btn-primary btn-lg" %>
  <%= link_to t('shared.links.gists_list'), admin_gists_path, class: "btn btn-primary btn-lg" %>
  <%= link_to t('shared.links.badges_list'), admin_badges_path, class: "btn btn-primary btn-lg" %>
</p>

<%= render 'shared/errors', object: @test %>

<table class="table table-hover">
  <tbody>
  <tr class="table-primary">
    <th scope="col" class="sort-by-title pointer text-center" class="sort-by-title pointer">
      <%=t('.title') %>
      <%= octicon 'arrow-up', class: 'text-success hide' %>
      <%= octicon 'arrow-down', class: 'text-success hide' %>
    </th>
    <th scope="col" class="text-center"><%=t('.level') %></th>
    <th scope="col" class="text-center"><%=t('.count') %></th>
    <th scope="col" class="text-center"><%=t('.passing_time') %></th>

    <th colspan="3" scope="col" class="text-center"><%=t('.actions') %></th>
  </tr>

  <%= render @tests %>
  <tbody>
</table>
