<!DOCTYPE html>
<html>
<head>
  <title> Admin Panel | Test Guru </title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <%= render 'admin/nav' %>

<div class="container">
  <%= render 'shared/flash_message' %>
  <%= yield %>
  <%= render 'shared/footer' %>
  <hr>
  <%= debug(params) if Rails.env.development? %>
</div>


</body>
</html>